{
  "swagger": "2.0",
  "info": {
    "description": "API de cadastro de candidatos",
    "version": "1.0.0",
    "title": "Cadastro de candidatos",
    "contact": {
      "email": "apiteam@cadastrodecandidatos.com.br"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host": "api.cadastrodecandidatos.com.br",
  "basePath": "/meuscurriculos/v1",
  "tags": [
    {
      "name": "curriculo",
      "description": "Curriculo para todas as empresas"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/curriculo": {
      "get": {
        "tags": [
          "curriculo"
        ],
        "summary": "Busca curriculo",
        "description": "Busca todos os curriculo da base de dados.",
        "operationId": "buscaCurriculo",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Curriculo encontrados com sucesso",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/curriculo"
              }
            }
          },
          "500": {
            "description": "Erro interno no servidor"
          }
        }
      }
    },
    "/curriculo/{curriculoId}/profissao/{profissaoId}": {
      "get": {
        "tags": [
          "curriculo"
        ],
        "summary": "Busca profissao por ID",
        "description": "Busca profissao por ID de cada cadastro",
        "operationId": "Curriculo",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "curriculoId",
            "in": "path",
            "description": "Codigo do curriculo no banco de dados",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "profissaoId",
            "in": "path",
            "description": "Codigo da profissao no banco de dados",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Curriculo encontrado com sucesso",
            "schema": {
              "$ref": "#/definitions/Curriculo"
            }
          },
          "404": {
            "description": "Curriculo nao encontrado"
          },
          "500": {
            "description": "Erro interno no servidor"
          }
        }
      }
    }
  },
  "definitions": {
    "Curriculo": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "nome": {
          "type": "string"
        }
      }
    },
    "Profissao": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "titulo": {
          "type": "string"
        },
        "conteudo": {
          "type": "string"
        }
      }
    }
  }
}